.one{
    text-align: center;
    color:white;
}
*{
    background-color: rgb(3, 248, 248);
}

.two{
    display:flex;
    grid-template-columns: 1fr 1fr;
}
.three{
    display:flex;
    grid-template-columns: 1fr 1fr;
}
.para{
    text-align: center;
    font-size: xx-large;
}